# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties
.classpath
.project
.settings/
*.class
*.jar

# Spring Boot
*.log
logs/
spring.pid

# VSCode
.vscode/
*.code-workspace
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json